*{
    /* width: 100%;
    height: 100%; */
    padding: 0;
    font-family: sans-serif;
}

/* .body {
    width: 80%;
} */
.header-container{
    height: 20%;
    /* border-bottom: 5px solid; */
    /* margin: 0px auto; */
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header-line{
    background-color: burlywood;
    height: 3vh;
    width: 100%;
}

.header-wrapper{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    background-color: wheat;
    width: 100%;
    height: 80%;
}

.header-logo{
    display: flex;
    flex-direction: column;
    margin: 0;
    width: max-content;
    justify-content: space-between;
}

.logoA{
    display: flex;
    flex-direction: row;
    width: auto;
    height: 60%;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}
.logoA>h3{
    margin: 0;
    width: auto;
    height: 60%;
    text-align: center;
    justify-content: center;
    align-items: center;
    text-transform: capitalize;
}

.logoB{
    display: flex;
    flex-direction: row;
    width: auto;
    height: 50%;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 25px;
}

.logoB>h2{
    margin: 0;
    width: auto;
    /* height: 50%; */
    text-align: center;
    justify-content: center;
    align-items: center;
    text-transform: capitalize;
}

.header-navbar{
    display: flex;
    flex-direction: row;
    text-decoration: none;
    list-style-type: none;
    margin: 0; 
    width: 50%;
    height: 30%;
    font-size: 1.3rem;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    align-content: center;
    color: brown;
}

nav>li>a{
    text-decoration: none;
    text-transform: capitalize;
    font-weight: bold;
    font-size: 13px;
    color: brown;
    position: relative;
    display: inline-block;
}

.hidden-btn{
    list-style-type: none;
    right: 0.5rem;
    color: brown;
    cursor: pointer;
}

.sub-dropdown{
    display: none;
    position: absolute;
    background-color: wheat;
    width: 20%;
    height: 40vh;
    right: 0.1rem;
    top:3.5rem;
    /* min-width: 160px; */
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    text-align: center;
}

.sub-dropdown li{
    text-decoration: none;
    list-style-type: none;
    color: brown;
    padding: 12px 16px;
    display: block;
}

.sub-dropdown li a{
    text-decoration: none;
    color: brown;
    text-transform: capitalize;
    font-weight: bold;
    font-size: 13px;
}

.hidden-btn:hover .sub-dropdown {
    display: block;
    padding: 12px;
    color: brown;
} 

.hidden-btn:hover .sub-dropdown {display: block;}
.sub-dropdown a:hover {background-color: burlywood;}

/* .hidden-btn:hover .dropbtn {background-color: #3e8e41;} */

/* content */

.container{
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 20px;
}

.container img{
    width: auto;
    height: 250px;
    /* padding: 5px; */
}

.content-wrapper{
    width: 50%;
    /* padding: 30px; */
    margin: 0%;
    text-align: justify;
    /* margin-top: 5px;  */
} 

.container2{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    padding-top: 20px;

}

.container2 img{
    display: flex;
    align-content: center;
    align-items: center;
    width: auto;
    height: 150px;
    /* padding: 10px; */
}

.content-wrapper2{
    display: flex;
    justify-content: center;
    width: 50%;
        /* padding: 30px;
        margin: 0%; */
    text-align: justify;
} 
/* Responsive design */
@media (max-width:800px){
    .header-line{
        background-color: burlywood;
        height: 1vh;
        width: 100%;
    }
    nav>li>a{
        display: none;
    }
    .logoA{
        width: auto;
        height: 30%;
        font-size: 10px;
    }
    .logoB{
        width: auto;
        height: 30%;
        font-size: 15px;
    }
    .dropdown-menu {
        display: block;
    }
    .img-atas{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: left;
        width: auto;
    }
    .img-bawah{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: left;
        width: auto;
    }
    p{
        text-align: center;
        align-content: center;
        justify-content: center;
        margin: 15px;
        font-size: 10px;
    }
}

@media (min-width:801px) {
    .hidden-btn{
        display: none;
    }
    
}